html {
  position: relative;
}

body {
  font-family: 'Montserrat', sans-serif;
}

.footer {
  position: absolute;
  bottom: 0;
}

.letter-spacing {
  letter-spacing: 0.1em;
}

.pilih-brand img {
  max-height: 80px;
}

.pilih-brand .card {
  border-radius: 15px;
}

.product .card {
  border-radius: 10px;
}